<nav class="bg-gray-800 p-2 mt-0 fixed w-full z-10 top-0">
  <div class="container mx-auto flex flex-wrap items-center">
    <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
      <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
      </i> <%= link_to 'Rails Mineboard Generator', root_path %></span>
  </a>
</div>
<div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
  <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
    <li class="mr-3">
      <%= link_to 'Generate New Board', new_board_path, data: { turbo_frame: 'modal'}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </li>
  </ul>
</div>
</div>
</nav>
