<div class="w-full">
  <div id="boards" class="max-w-7xl mx-auto mt-12">
    <div class="shadow overflow-hidden rounded border-b border-gray-200">
      <%= turbo_frame_tag "boards", src: boards_path, loading: :lazy, class: "min-w-full" do %>
        <div class="flex flex-col space-y-6">
          <table class="min-w-full bg-white">
            <% 20.times do%>
              <tr class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer relative">
                <div class="animate-pulse flex space-x-4">
                  <div class="flex-1 space-y-4 py-1">
                    <div class="h-4 bg-gray-400 rounded w-3/4"></div>
                    <div class="space-y-2">
                      <div class="h-4 bg-gray-400 rounded"></div>
                      <div class="h-4 bg-gray-400 rounded w-5/6"></div>
                    </div>
                  </div>
                </div>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
